{#<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>Shelter</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons --><%--
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">--%>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="../css/style.css" rel="stylesheet">

</head>#}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>Shelter</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link rel="stylesheet" href="{{ asset('/tmp/css/normalize.css', 'css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('/tmp/css/style.css', 'css') }}" type="text/css" />
    <link href="{{ asset ("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700")}}" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ asset("/tmp/lib/bootstrap/css/bootstrap.css") }}"rel="stylesheet">

    <link href="{{ asset("/tmp/lib/font-awesome/css/font-awesome.min.css") }} "rel="stylesheet">
    <link href="{{ asset('/tmp/lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset("/tmp/lib/ionicons/css/ionicons.min.css") }}" rel="stylesheet">
    <link href="{{asset("/tmp/lib/owlcarousel/assets/owl.carousel.min.css")}}" rel="stylesheet">
    <link href="{{ asset("/tmp/lib/lightbox/css/lightbox.min.css") }}" rel="stylesheet">

</head>

<body>
<header id="header">


    <div class="container">

        <div class="logo float-left">
            <h1 class="text-light"><a href="#intro" class="scrollto"><span>Shelter</span></a></h1>
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/home#about">About Us</a></li>
                {% if user is empty %}

                    <li><a href="/registration">Registration</a></li>

                    <li><a href="/auth">Authentication</a></li>
                {% endif %}
                {% if user is not empty %}

                    <li><a href="/pets">Our pets</a></li>
                    <li><a href="/your_pets">Your pets</a></li>
                    <li><a href="/logout">Log Out</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<form method="POST" enctype="multipart/form-data" style="margin-top: 250px">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="pet_name">Name</label>
            <input type="text" class="form-control" id="pet_name" name ="pet_name" >
        </div>
    </div>
    <div class="form-group">
        <label for="pet_description">Description</label>
        <input type="text" class="form-control" id="pet_description" name ="pet_description" >
    </div>
    <div class="form-group">
        <label for="pet_breed">Breed</label>
        <input type="text" class="form-control" id="pet_breed" name="pet_breed" >
    </div>
    <div class="form-group">
        <label for="pet_disease">Disease</label>
        <input type="text" class="form-control" id="pet_disease" name="pet_disease" >
    </div>
    <div class="form-group col-md-6">
        <label for="pet_img">img</label>
        <input type="file" class="form-control" id="pet_img" name="pet_img" >
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="sex">Sex</label>
            <select id="sex" name ="sex" class="form-control">
                <option selected>Choose...</option>
                <option>girl</option>
                <option>boy</option>
            </select>
        </div>
        <div class="form-group col-md-2">

            <label for="pet_age">Age</label>
            <input type="text" class="form-control" id="pet_age" name ="pet_age" >
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add pet</button>
</form>
</body>
<!-- JavaScript Libraries -->
<script src={{ asset ("/tmp/lib/jquery/jquery.min.js")}}></script>
<script src={{ asset ("/tmp/lib/jquery/jquery-migrate.min.js")}}></script>
<script src={{ asset ("/tmp/lib/bootstrap/js/bootstrap.bundle.min.js")}}></script>
<script src={{ asset ("/tmp/lib/mobile-nav/mobile-nav.js")}}></script>
<script src={{ asset ("/tmp/lib/wow/wow.min.js")}}></script>
<script src={{ asset ("/tmp/lib/waypoints/waypoints.min.js")}}></script>
<script src={{ asset ("/tmp/lib/counterup/counterup.min.js")}}></script>
<script src={{ asset ("/tmp/lib/isotope/isotope.pkgd.min.js")}}></script>
<script src={{ asset ("/tmp/lib/lightbox/js/lightbox.min.js")}}></script>
<!-- Contact Form JavaScript File -->
<script src={{ asset ("/tmp/contactform/contactform.js")}}></script>

<!-- Template Main Javascript File -->
<script src={{ asset ("/tmp/js/main.js")}}></script>


</html>
